<div layout="row" layout-xs="column" layout-padding layout-wrap>
	
	<div flex="100">
	
		<md-card layout-padding>

		    <md-toolbar class="md-table-toolbar md-default" ng-hide="toolsFilter">
  
		      <div class="md-toolbar-tools">

		        <h2 class="md-title">Shifts List</h2>

		        <div flex class="flex"></div>
		    
		        <button class="md-button md-icon-button md-ink-ripple" ng-click="toolsFilter = !toolsFilter">
		    
		          <md-icon class="material-icons">filter_list</md-icon>
		    
		        </button>

		        <button class="md-button md-icon-button md-ink-ripple" ng-click="vm.panelShifts()">
		          
		          <md-icon class="material-icons">add</md-icon>
		        
		        </button>
		      
		      </div>
		   
		    </md-toolbar>

		    <md-toolbar class="md-table-toolbar md-default" aria-hidden="false" ng-show="toolsFilter">
		  
		      <div class="md-toolbar-tools">

		         <md-input-container flex class="md-icon-float md-block" ng-style="{'margin-bottom':0}">

			      <label>Search</label>

			      <md-icon class="materials-icon">search</md-icon>

			      <input ng-model="filter" type="text">

			      <md-icon class="materials-icon" ng-click="toolsFilter = !toolsFilter">close</md-icon>

			    </md-input-container>


		      
		      </div>
		   
		    </md-toolbar>
			
			<!-- <md-divider ></md-divider> -->
			
			<md-table-container>
			
				<table md-table>

					<thead md-head>
					
						<tr md-row>
							
							<th md-column flex>Description</th>

							<th md-column flex>Time Start</th>

							<th md-column flex>Time End</th>

							<th flex md-column ng-style="{'text-align':'center'}">Actions</th>

						</tr>					
					</thead>

					<tbody md-body>

						<tr md-tr ng-repeat="shift in vm.shifts">

							<td md-cell>{{ shift.description }}</td>
							
							<td md-cell>{{ shift.timeStart | date: "HH:mm:ss" }}</td>
							
							<td md-cell>{{ shift.timeEnd | date: "HH:mm:ss"}}</td>
							
							<td md-cell ng-style="{'text-align':'center'}">
								<md-icon class="md-secondary material-icons layout-padding" >remove_red_eye</md-icon>

								<md-icon class="material-icons layout-padding" ng-click="vm.shiftSelect = vm.actualShift(shift)">edit</md-icon>

								<md-icon class="md-secondary material-icons layout-padding" >delete</md-icon>
							</td>

						</tr>

					</tbody>

				</table>

			</md-table-container>

		</md-card>

	</div>

</div>

<script id="panelShifts.html" type="text/ng-template">

	<div role="dialog" aria-label="Eat me!" layout="column" layout-align="center center">
	
	<md-toolbar>
		
		<div class="md-toolbar-tools">

			<h3>New Shift</h3>

			<span flex></span>
			
			<md-icon class="materials-icon" layout-align="end center">schedule</md-icon>
	
		</div>
	
	</md-toolbar>

	<div class="demo-dialog-content">

		<md-input-container class="md-icon-float md-block">

		  <label>Description</label>

  		  <md-icon class="materials-icon">assignment</md-icon>

		  <input ng-model="vm.shiftSelect.description" type="text">

		</md-input-container>

		<md-input-container class="md-icon-float md-block">

		  <label>Time Start</label>

		  <md-icon class="materials-icon">alarm_on</md-icon>

		  <input ng-model="vm.shiftSelect.timeStart" type="time">

		</md-input-container>

		<md-input-container class="md-icon-float md-block">

		  <label>Time End</label>

		  <md-icon class="materials-icon">alarm_off</md-icon>

		  <input ng-model="vm.shiftSelect.timeEnd" type="time">

		</md-input-container>
		
		<div layout="row" layout-align="center center">
	
			<md-button class="md-raised md-primary" ng-click="vm.saveNewShifts(vm.shiftSelect)">{{vm.shiftSelect.id?'Edit':'Save'}}</md-button>
    
		</div>
	
	</div>

</div>

</script>